.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  
/*   align-items: baseline; */
}

@media (max-width: 350px) {
  .header {
    padding: 28px 0 31px;
  }
}
