.popup__box {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 430px;
}

@media (max-width: 500px) {
  .popup__box {
    width: 282px;
  }
}
