.profile__add-button {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-image: url(../../../images/Plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 150px;
  height: 50px;
  margin: 35px 0 35px auto;
  cursor: pointer;
  transition: opacity 1s linear;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (max-width: 680px) {
  .profile__add-button {
    width: 282px;
    margin: 35px auto 0;
  }
}
